<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>MyBlog Login</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content="dddko"/>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- /Bootstrap js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("#check").change(function(){
                    if($("#check").is(":checked") === false){
                        $('#ad').hide();
                    }else{
                        $('#ad').show();
                    }
                });
            });

            function isPostEmpty (nickname, email, password, password2) {
                return (nickname === "" || email === "" || password === "" || password2 === "");
            }

            function signUp() {
                let nickname = $('#nickname').val();
                let email = $('#signup_email').val();
                let password = $('#signup_password').val();
                let password2 = $('#signup_password2').val();
                let admin = false
                if($("#check").is(":checked")){
                    admin = true
                }
                console.log(email)
                let adminToken = $('#adminToken').val();
                if(password !== password2){
                    alert("비밀번호 불일치!!")
                    return;
                }
                if (isPostEmpty(nickname, email, password, password2)) {
                    // alert 창 띄우기
                    alert("필수 값 입력 오류!!")
                    return;
                }
                // 4. 전달할 data JSON으로 만듭니다.
                let data = {'nickname': nickname, 'email': email, 'password': password, 'admin': admin, 'adminToken': adminToken};
                // 5. POST /api/memos 에 data를 전달합니다.
                $.ajax({
                    type: "POST",
                    url: "/user/signup",
                    contentType: "application/json", // JSON 형식으로 전달함을 알리기
                    data: JSON.stringify(data),
                    success: function () {
                        alert('회원가입 성공!');
                        window.location.replace('/user/login');
                    }
                });
            }

        </script>
        <style>
            .ifadmin {
                display: none;
            }
        </style>

    </head>
    <body>
        <div class="wrap">
            <div class="form-wrap">
                <div class="button-wrap">
                    <div id="btn"></div>
                    <button type="button" class="togglebtn" onclick="login()">LOG IN</button>
                    <button type="button" class="togglebtn" onclick="register()">REGISTER</button>
                </div>
                <div class="social-icons">
                    <img src="/assets/img/btnG_icon_circle.png" alt="facebook">
                    <img src="/assets/img/kakaotalk_logo.png" alt="twitter">
                    <img src="/assets/img/gl.png" alt="google">
                </div>
                <form id="login" action="/user/login" method="post" class="input-group">
                    <input type="email" id="login_email" name="username" class="input-field" placeholder="User Email" required>
                    <input type="password" id="login_password" name="password" class="input-field" placeholder="Enter Password" required>
                    <input type="checkbox" class="checkbox"><span>Remember Password</span>
                    <div id="login-failed" style="display:none" class="alert alert-danger" role="alert">로그인에 실패하였습니다.</div>
                    <button class="submit">Login</button>
                </form>
                <form id="register" action="" class="input-group">
                    <input type="text" id="nickname" class="input-field" placeholder="nickname" required>
                    <input type="email" id="signup_email" class="input-field" placeholder="Enter email" required>
                    <input type="password" id="signup_password" class="input-field" placeholder="Enter Password" required>
                    <input type="password" id="signup_password2" class="input-field" placeholder="re-enter Password" required>
                    <div class="ifadmin" id="ad">
                        <input type="password" id="adminToken" class="input-field" placeholder="Enter admin Password" >
                    </div>
                    <input type="checkbox" class="checkbox" name="admin" id="check"><span>admin sign up</span>
                    <button type="button" class="submit" onclick="signUp()">REGISTER</button>
                </form>
            </div>
        </div>
        <script>
            let x = document.getElementById("login");
            let y = document.getElementById("register");
            let z = document.getElementById("btn");
            
            
            function login(){
                x.style.left = "50px";
                y.style.left = "450px";
                z.style.left = "0";
            }

            function register(){
                x.style.left = "-400px";
                y.style.left = "50px";
                z.style.left = "110px";
            }

            const href = location.href;
            const queryString = href.substring(href.indexOf("?")+1)
            if (queryString === 'error') {
                const errorDiv = document.getElementById('login-failed');
                errorDiv.style.display = 'block';
            }
        </script>
    </body>
</html>